@font-face {
    font-family: "Norse Bold";
    src: url('../assets/fonts/Norse-Bold.otf');
}

:root {
    --grey-background: rgb(249 250 251);
    --green-color: rgb(89 109 72);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    --padding-left: 45px;

    height: 100vh;
    display: flex;
    background-color: var(--grey-background);
}

.splash {
    background-image: url('../assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vh auto;
    
    flex: 1;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    margin-top: 33%;
    padding: 8px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: 100%;
    width: auto;
}

.logo > h1 {
    font-family: "Norse Bold";
    font-size: 64px;
    color: white;
}

.sign-up {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.persuasion-text-container,
.sign-up > div,
.sign-up form {
    padding-left: var(--padding-left);
}

.persuasion-text-container {
    font-size: 24px;
    font-weight: bold;
}

.sign-up form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}